.container {
    padding: 0 2rem;
}

.todo {
    min-height: 100vh;
    padding: 15px 60px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.todo__inputWrap {
    display: flex;
    width: 100%;
}
